@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="playerslist" class="loading loading-large"></div>

<p class="text-danger" id="error"></p>

<a asp-action="Edit" asp-route-id="3"><i class="fa-solid fa-pen-to-square"></i> Edit</a>


@section Scripts{
    <script>
    $(document).ready(function () {
         $("#playerslist").load("/Players/PlayersListPartial",function (response,status,xhr){
                    if ( status === 'error' ) {
                        let msg = 'Sorry but there was an error: ';
                        $( "#error" ).html( msg + xhr.status + " " + xhr.statusText );
                      }
                    else{
                     $("#playerslist").removeAttr("class"); 
                    }
                    })
         });
    </script>
}