@model IEnumerable<Team>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/PagedList.css" rel="stylesheet"/>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container-fluid">

    <h5 class="d-flex justify-content-end">Count of teams: @Model.Count()</h5>
    <div class="row">
        @foreach (var team in Model)
        {
            var viewdata = new ViewDataDictionary(ViewData)
            {
                { "viewmodel", "crud" },
            };
            
            <div class="col-4">
                <partial name="Partials/_TeamCardPartial" model="@team" view-data="viewdata"/>
            </div>
        }
    </div>
</div>