@model IEnumerable<Team>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/PagedList.css" rel="stylesheet"/>

<div class="mt-3 mb-2">
    <a asp-action="Create" style="font-size:1.5rem"><i class="bi bi-person-plus" style="margin-right:10px;font-size:2rem"></i> Add new Team</a>
</div>

<hr class="mx-auto w-75"/>

<div class="container-fluid">

    <h5 class="d-flex justify-content-end">Count of teams: @Model.Count()</h5>
    <div class="row">
        @foreach (var team in Model)
        {
            var viewdata = new ViewDataDictionary(ViewData)
            {
                { "viewmodel", "crud" },
            };
            
            <div class="col-4">
                <partial name="Partials/_TeamCardPartial" model="@team" view-data="viewdata"/>
            </div>
        }
    </div>
</div>