html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#cover {
    background: url("../img/loading-spinner.gif") no-repeat scroll center center #FFF;
    position: absolute;
    width:100%;
    height:100%;
}

.loading{
    position: relative;
    left:50%;
    top:50%;
    display: inline-block;
    border: 3px solid rgba(3, 53, 252,.5);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

.loading-small{
    width: 20px;
    height: 20px;
}

.loading-medium{
    width: 40px;
    height: 40px;
}

.loading-large{
    width: 60px;
    height: 60px;
}


@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}