:root {
    --light-bg-color: #8D9EFF;
    --light-text-color: #ffffff;
    --light-highlight-color: #8D72E1;

    --dark-bg-color: #404258;
    --dark-text-color: #ffffff;
}

body {
    scroll-behavior: smooth;
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#cover {
    background: url("../img/loading-spinner.gif") no-repeat scroll center center #FFF;
    position: absolute;
    width: 100%;
    height: 100%;
}

.loading {
    position: relative;
    left: 50%;
    top: 50%;
    display: inline-block;
    border: 3px solid rgba(3, 53, 252, .5);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

.loading-small {
    width: 20px;
    height: 20px;
}

.loading-medium {
    width: 40px;
    height: 40px;
}

.loading-large {
    width: 60px;
    height: 60px;
}


@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.form-white.input-group > .form-control:focus {
    border-color: #fff;
    box-shadow: inset 0 0 0 1px #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

.navbar{
    font-weight: 600;
    font-size:1.2rem;
}