@model IEnumerable<Player>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    @if (Model.Any())
    {
        <h1>Choose one player to transfer</h1>
        @foreach (var player in Model)
        {
            <div class="col col-sm-12 col-md-6 col-lg-4 col-xl-3">
                @await Html.PartialAsync("Partials/_PlayerCardPartial",
                    player,
                    new ViewDataDictionary(ViewData)
                    {
                        { "viewmodel", "transfer" },
                    })
            </div>
        }
    }

    else
    {
        <div class="col-12">
            <h4 class="text-muted mt-4">Not found any inactive players.</h4>
        </div>
    }
</div>
<div>
   <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary btn-lg m-4">Back to Dashboard</a>
</div>